    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
    }

    /*index.html*/

    #content {
        box-sizing: border-box;
        width: 70%;
    }

    img.header{
        width: 100%;
        height: auto;
        display: block;
        margin-right: auto;
    }

    #design{
        background-color: orange;
        height: auto;
    }

    #design h1{
        color: darkviolet;
        background-color: orange;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 150%;
        margin: 0;
        letter-spacing: 1.3px;
        height: 0.9em;
    }


    #content img {
        border-radius: 50%;
        margin: 4px;
        padding: 4px;
        float: left;
        cursor: pointer;
    }

    .about {
        padding: 6px;
        margin-top: 1em;
    }

    li.home {
        font-size: 120%;
        font-style: italic;
        line-height: 1.8em;
        list-style: circle;
        list-style-position: outside;
        border-bottom: 1px dashed purple;
    }

    /*gameblock*/

    .gameBlock {
        box-sizing: border-box;
        width: 30%;
        float: right;
        margin-top: 1em;
        border-left: 3px orange solid;
    }

    h2.game{
        margin-left: 2em;
    }

    button {
        cursor: pointer;
    }

    div.cs {
        margin-left: 0.8em;
        margin-top: 1.5em;
    }

    img.game {
        border-radius: 50%;
        float: left;
        cursor: pointer;
    }

    h3 {
        text-align: justify;
        font-variant: small-caps;
        line-height: 4em;
        margin-left: 5em;
    }

    div.lol {
        margin-top: 6em;
        margin-left: 0.8em;
    }

    div.pubg {
        margin-top: 6em;
        margin-left: 0.8em;
    }

    footer {
        text-align: center;
        font-size: 110%;
        margin-top: 3em;
        clear: both;
    }

    /*csgo.html*/
    #head{
        border-bottom: 2px dashed orange;
        border-style: none;
        height: auto;
    }

    img.icon{
        border-radius: 50%;
        float: left;
        padding: 2px;
    }

    #show{
        display:none;
    }

    a{
        text-decoration: none;
    }

    #head h1{
        display: flex;
        justify-content: center;
        padding: 2px;
        color: coral;
        font-size: 300%;
        text-shadow: 3px 2.5px blue;
    }

    #head p{
        font-size: 120%;
        font-variant: unset;
        text-align: center;
    }

    img.map{
        display: block;
        margin-left: auto;
        float: right;
        margin-top: -0.7em;
    }

    #head ul{
        display: block;
        margin-left: auto;
        margin-top: 3em;
    }

    #head li{
        line-height: 1.8em;
        font-variant: unset;
        font-size: 110%;
        list-style: circle;
    }

    
    #posts{
        margin-top: 13em;
    }

    
    #posts p{
        text-align: center;
        list-style: none;
        border: 5px solid #ffbd2b;
        height: 7em;
        margin-top: 1em;
        background-color: #ffffff;
        margin: 2em;
        padding: 2em;
        /*background-image: linear-gradient(to right, skyblue, lightpink);*/
    }

    #posts button{
        margin-left: 2em;
        border-radius: 20px;
    }

    form{
        padding: 5px;
        margin-top: 5em;
        margin-left: 2em;
    }


